{% extends "layout.html" %}
{% block content %}
<main>
    <section class="container addresses">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <div class="user">
                        <div class="user_img">
                            <img src="./images/usr.jpg">
                        </div>
                        <div class="user_info">
                            <span class="title">Bella Hadid</span>
                            <span class="desc"><span class="user_id">ID: </span>OB386477</span>
                        </div>
                    </div>
                    <a href="" class="button btn_primary full">Bəyan et</a>
                    <ul>
                        <li><a href="" title="" class="active">Xaricdəki ünvanlarım</a></li>
                        <li><a href="" title="">Bağlamalarım</a></li>
                        <li><a href="" title="">Sifarişlərim</a></li>
                        <li><a href="" title="">Borclar</a></li>
                        <li><a href="" title="">Balans</a></li>
                        <li><a href="" title="">Ailə hesabı</a></li>
                        <li><a href="" title="">Etibarnamələr</a></li>
                        <li><a href="" title="">Kuryer sifarişi</a></li>
                        <li class="settings"><a href="" title="">Ayarlar</a></li>
                        <li><a href="" title="">Çıxış</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <a href="" class="item limit">
                                <div class="img"></div>
                                <div>
                                    <label class="o-5">Bu ay üzrə limit</label>
                                    <span class="desc">$ 123.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-4">
                            <a href="" class="item order">
                                <div class="img"></div>
                                <div>
                                    <label class="o-5">Sifariş balansım</label>
                                    <span class="desc">₺ 4567.89</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md-4">
                            <a href="" class="item transport">
                                <div class="img"></div>
                                <div>
                                    <label class="o-5">Daşınma balansım</label>
                                    <span class="desc">$ 20.50</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Xaricdəki ünvanlarım</h1>
                    </div>
                    <div class="right_content">
                        <div class="tabs_flex tab_with_label with_label_two">
                            <ul class="tabs tabs1" data-target=".list_tab">
                                <li class="active"><a class="tr"><span class="tab_title">Türkiyə</span></a></li>
                                <li><a class="us"><span class="tab_title">ABŞ</span></a></li>
                                <li><a class="chine"><span class="tab_title">Çin</span></a></li>
                            </ul>
                        </div>
                        <div class="list_tab tabs_content">
                            <div class="active list_content" data-match-height=".item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info_item">
                                            <label>İsim Soyisim</label>
                                            <span class="text">Erlich Bachman</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info_item">
                                            <label>İlçe / Semt</label>
                                            <span class="text">Eyüp</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info_item">
                                            <label>İl (Şehir)</label>
                                            <span class="text">İstanbul</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info_item">
                                            <label>District</label>
                                            <span class="text">Adres başlığı</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="info_item">
                                            <label>Adres satır 1</label>
                                            <span class="text">Alibeyköy Mah. Atatürk Cd. No:135 D386477</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info_item">
                                            <label>Mahalle</label>
                                            <span class="text">Alibeyköy Mah.</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info_item">
                                            <label>Cep numarası</label>
                                            <span class="text">05435789980</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="info_item">
                                            <label>Postal code</label>
                                            <span class="text">34060</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="info_item">
                                            <label>TC Kimlik</label>
                                            <span class="text">28135930832</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="info_item">
                                            <label>Teslim alan kişi</label>
                                            <span class="text">Onebox Lojistik</span>
                                            <button class="copy_btn" aria-label="Copied"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-match-height=".item" class="list_content">
                                
                            </div>
                            <div data-match-height=".item" class="list_content">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}