{% extends "layout.html" %}
{% block content %}
<main>
	<section>
        <div class="container banned">
            <div class="w-960">
                <div class="sec_title">
                    <h1>Qadağan olunan məhsullar</h1>
                    <span class="text o-5">Qeyd olunan qadağan olunmuş məhsulların şirkətimiz tərəfindən daşınılması həyata keçirilmir</span>
                </div>
                <div class="tabs_flex tab_with_label with_label_two">
                    <ul class="tabs tabs1" data-target=".tabs_content">
                        <li class="active"><a class="tr"><span class="tab_title">Türkiyə</span></a></li>
                        <li><a class="us"><span class="tab_title">ABŞ</span></a></li>
                        <li><a class="chine"><span class="tab_title">Çin</span></a></li>
                    </ul>
                </div>
                <div class="tabs_content">
                    <div class="active list_content" data-match-height=".item">
                        <div class="item_group">
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müxtəlif növ batareyalar, powerbank-lar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Çılçıraq və çərçivə<span class="o-5">( Qablaşdırılması düzgün olmadıqda )</span></p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hər cür silah növləri, döyüş sursatı, hərbi təyinatlı hər cür əşyalar, partlayıcı maddələr, hərbi texnika.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Partlayıcı, tezalışan və ya digər təhlükəli maddələr, eləcə də radioaktiv maddələr və onların hazırlanması texnologiyasına aid materiallar;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Narkotik və psixotrop maddələr, onlardan istifadə üçün ləvazimat, həmçinin hazırlanması texnologiyasına aid materiallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Pornoqrafik əşyalar, əxlaq pozğunluğunu, zorakılığını, terrorizmi təbliğ və reklam edən materiallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Canlı heyvanlar</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Gizli kameralar, xüsusi məxfi rabitə vasitələri, onların şifrləri və istismarı haqqında ədəbiyyat.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müdafiə, Milli Təhlükəsizlik və Daxili İşlər nazirliklərinin operativ istintaq fəaliyyəti üzrə informasiya sistemləri, sənədləri və arxivləri.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müdafiə, Milli Təhlükəsizlik və Daxili İşlər nazirliklərinin operativ istintaq fəaliyyəti üzrə informasiya sistemləri, sənədləri və arxivləri.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Akkumulyatorlar;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Mühərriklər;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hover Board skuterlər;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Maşın yağları və maşın yağının olduğu bütün mallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hava nəqliyyatı vasitəsilə daşınması qadağan olunan əşyalar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Azərbaycan Respublikasının ərazisinə idxalı qadağan olunan əşyalar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Türkiyədən litium batareyalar və litium batareyalara sahib texnikalar.</p>
                            </div>
                        </div>
                    </div>
                    <div data-match-height=".item" class="list_content">
                        <div class="item_group">
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müxtəlif növ batareyalar, powerbank-lar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Çılçıraq və çərçivə<span class="o-5">( Qablaşdırılması düzgün olmadıqda )</span></p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hər cür silah növləri, döyüş sursatı, hərbi təyinatlı hər cür əşyalar, partlayıcı maddələr, hərbi texnika.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Partlayıcı, tezalışan və ya digər təhlükəli maddələr, eləcə də radioaktiv maddələr və onların hazırlanması texnologiyasına aid materiallar;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Narkotik və psixotrop maddələr, onlardan istifadə üçün ləvazimat, həmçinin hazırlanması texnologiyasına aid materiallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Pornoqrafik əşyalar, əxlaq pozğunluğunu, zorakılığını, terrorizmi təbliğ və reklam edən materiallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Canlı heyvanlar</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Gizli kameralar, xüsusi məxfi rabitə vasitələri, onların şifrləri və istismarı haqqında ədəbiyyat.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müdafiə, Milli Təhlükəsizlik və Daxili İşlər nazirliklərinin operativ istintaq fəaliyyəti üzrə informasiya sistemləri, sənədləri və arxivləri.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müdafiə, Milli Təhlükəsizlik və Daxili İşlər nazirliklərinin operativ istintaq fəaliyyəti üzrə informasiya sistemləri, sənədləri və arxivləri.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Akkumulyatorlar;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Mühərriklər;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hover Board skuterlər;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Maşın yağları və maşın yağının olduğu bütün mallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hava nəqliyyatı vasitəsilə daşınması qadağan olunan əşyalar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Azərbaycan Respublikasının ərazisinə idxalı qadağan olunan əşyalar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Türkiyədən litium batareyalar və litium batareyalara sahib texnikalar.</p>
                            </div>
                        </div>
                    </div>
                    <div data-match-height=".item" class="list_content">
                        <div class="item_group">
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müxtəlif növ batareyalar, powerbank-lar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Çılçıraq və çərçivə<span class="o-5">( Qablaşdırılması düzgün olmadıqda )</span></p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hər cür silah növləri, döyüş sursatı, hərbi təyinatlı hər cür əşyalar, partlayıcı maddələr, hərbi texnika.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Partlayıcı, tezalışan və ya digər təhlükəli maddələr, eləcə də radioaktiv maddələr və onların hazırlanması texnologiyasına aid materiallar;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Narkotik və psixotrop maddələr, onlardan istifadə üçün ləvazimat, həmçinin hazırlanması texnologiyasına aid materiallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Pornoqrafik əşyalar, əxlaq pozğunluğunu, zorakılığını, terrorizmi təbliğ və reklam edən materiallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Canlı heyvanlar</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Gizli kameralar, xüsusi məxfi rabitə vasitələri, onların şifrləri və istismarı haqqında ədəbiyyat.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müdafiə, Milli Təhlükəsizlik və Daxili İşlər nazirliklərinin operativ istintaq fəaliyyəti üzrə informasiya sistemləri, sənədləri və arxivləri.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Müdafiə, Milli Təhlükəsizlik və Daxili İşlər nazirliklərinin operativ istintaq fəaliyyəti üzrə informasiya sistemləri, sənədləri və arxivləri.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Akkumulyatorlar;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Mühərriklər;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hover Board skuterlər;</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Maşın yağları və maşın yağının olduğu bütün mallar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Hava nəqliyyatı vasitəsilə daşınması qadağan olunan əşyalar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Azərbaycan Respublikasının ərazisinə idxalı qadağan olunan əşyalar.</p>
                            </div>
                            <div class=item>
                                <span class="icon"></span>
                                <p class="text">Türkiyədən litium batareyalar və litium batareyalara sahib texnikalar.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="note o-5"><strong>Qeyd</strong>Odlu silah, silah hissələri və ya aksesuarları, optik nişan, optik binokl və döyüş üçün nəzərdə tutulan əşyaların ixracatına icazə yoxdur.</div>
        </div>
    </section>
</main>
{% endblock %}