{% extends "logged-layout.html" %}
{% block content %}
<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <div class="user">
                        <div class="user_img">
                            <img src="./images/usr.jpg">
                        </div>
                        <div class="user_info">
                            <span class="title">Bella Hadid</span>
                            <span class="desc"><span class="user_id">ID: </span>OB386477</span>
                        </div>
                    </div>
                    <a href="" class="button btn_primary full">Bəyan et</a>
                    <ul>
                        <li><a href="" title="" class="active">Xaricdəki ünvanlarım</a></li>
                        <li><a href="" title="">Bağlamalarım</a></li>
                        <li><a href="" title="">Sifarişlərim</a></li>
                        <li><a href="" title="">Borclar</a></li>
                        <li><a href="" title="">Balans</a></li>
                        <li><a href="" title="">Ailə hesabı</a></li>
                        <li><a href="" title="">Etibarnamələr</a></li>
                        <li><a href="" title="">Kuryer sifarişi</a></li>
                        <li class="settings"><a href="" title="">Ayarlar</a></li>
                        <li><a href="" title="">Çıxış</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <a href="" class="item limit">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Bu ay üzrə limit</label>
                            <span class="desc">$ 123.00</span>
                        </div>
                    </a>
                    <a href="" class="item order">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Sifariş balansım</label>
                            <span class="desc">₺ 4567.89</span>
                        </div>
                    </a>
                    <a href="" class="item transport">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Daşınma balansım</label>
                            <span class="desc">$ 20.50</span>
                        </div>
                    </a>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Etibarnamələr</h1>
                        <div class="text-end">
                            <a href="" class="button btn_primary add_new m-full">Yeni etibarnamə</a>
                        </div>
                    </div>
                    <div class="right_content">
                        <div class="item_block">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ad-Soyad</span>
                                        <div class="text">Thomas Bachmanity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ata adı</span>
                                        <div class="text">Richard</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">ŞV nömrəsi</span>
                                        <div class="text">AZE15676700</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">FİN kod</span>
                                        <div class="text">H4JA778</div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Doğum tarixi</span>
                                        <div class="text">02.02.1990</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Mobil nömrə</span>
                                        <div class="text">+99455 2314511</div>
                                    </div>
                                </div>
                                <div class="text-end-d offset-lg-3 offset-md-3 col-lg-2 col-md-2 col-sm-12 col-12">
                                    <div class="btn-group dropleft drop_menu">
                                        <button type="button" class="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="delete_link">Bağlamanı sil</button>
                                            <a href="#" class="edit">Düzəliş et</a>
                                            <a href="#" class="download">Yüklə</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_block">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ad-Soyad</span>
                                        <div class="text">Thomas Bachmanity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ata adı</span>
                                        <div class="text">Richard</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">ŞV nömrəsi</span>
                                        <div class="text">AZE15676700</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">FİN kod</span>
                                        <div class="text">H4JA778</div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Doğum tarixi</span>
                                        <div class="text">02.02.1990</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Mobil nömrə</span>
                                        <div class="text">+99455 2314511</div>
                                    </div>
                                </div>
                                <div class="text-end-d offset-lg-3 offset-md-3 col-lg-2 col-md-2 col-sm-12 col-12">
                                    <div class="btn-group dropleft drop_menu">
                                        <button type="button" class="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="delete_link">Bağlamanı sil</button>
                                            <a href="#" class="edit">Düzəliş et</a>
                                            <a href="#" class="download">Yüklə</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_block">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ad-Soyad</span>
                                        <div class="text">Thomas Bachmanity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ata adı</span>
                                        <div class="text">Richard</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">ŞV nömrəsi</span>
                                        <div class="text">AZE15676700</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">FİN kod</span>
                                        <div class="text">H4JA778</div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Doğum tarixi</span>
                                        <div class="text">02.02.1990</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Mobil nömrə</span>
                                        <div class="text">+99455 2314511</div>
                                    </div>
                                </div>
                                <div class="text-end-d offset-lg-3 offset-md-3 col-lg-2 col-md-2 col-sm-12 col-12">
                                    <div class="btn-group dropleft drop_menu">
                                        <button type="button" class="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="delete_link">Bağlamanı sil</button>
                                            <a href="#" class="edit">Düzəliş et</a>
                                            <a href="#" class="download">Yüklə</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_block">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ad-Soyad</span>
                                        <div class="text">Thomas Bachmanity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ata adı</span>
                                        <div class="text">Richard</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">ŞV nömrəsi</span>
                                        <div class="text">AZE15676700</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">FİN kod</span>
                                        <div class="text">H4JA778</div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Doğum tarixi</span>
                                        <div class="text">02.02.1990</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Mobil nömrə</span>
                                        <div class="text">+99455 2314511</div>
                                    </div>
                                </div>
                                <div class="text-end-d offset-lg-3 offset-md-3 col-lg-2 col-md-2 col-sm-12 col-12">
                                    <div class="btn-group dropleft drop_menu">
                                        <button type="button" class="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu">
                                            <button class="delete_link">Bağlamanı sil</button>
                                            <a href="#" class="edit">Düzəliş et</a>
                                            <a href="#" class="download">Yüklə</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}