{% extends "logged-layout.html" %}
{% block content %}
<main>
    <section class="container debts">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <div class="user">
                        <div class="user_img">
                            <img src="./images/usr.jpg">
                        </div>
                        <div class="user_info">
                            <span class="title">Bella Hadid</span>
                            <span class="desc"><span class="user_id">ID: </span>OB386477</span>
                        </div>
                    </div>
                    <a href="" class="button btn_primary full">Bəyan et</a>
                    <ul>
                        <li><a href="" title="" class="active">Xaricdəki ünvanlarım</a></li>
                        <li><a href="" title="">Bağlamalarım</a></li>
                        <li><a href="" title="">Sifarişlərim</a></li>
                        <li><a href="" title="">Borclar</a></li>
                        <li><a href="" title="">Balans</a></li>
                        <li><a href="" title="">Ailə hesabı</a></li>
                        <li><a href="" title="">Etibarnamələr</a></li>
                        <li><a href="" title="">Kuryer sifarişi</a></li>
                        <li class="settings"><a href="" title="">Ayarlar</a></li>
                        <li><a href="" title="">Çıxış</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <a href="" class="item limit">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Bu ay üzrə limit</label>
                            <span class="desc">$ 123.00</span>
                        </div>
                    </a>
                    <a href="" class="item order">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Sifariş balansım</label>
                            <span class="desc">₺ 4567.89</span>
                        </div>
                    </a>
                    <a href="" class="item transport">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Daşınma balansım</label>
                            <span class="desc">$ 20.50</span>
                        </div>
                    </a>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Borclarım</h1>
                        <div class="caption">
                            <p class="label o-5">Toplam USD borcum</p>
                            <p class="text">$ 144.00</p>
                        </div>
                    </div>
                    <div class="right_content">
                        <div class="tabs_flex">
                            <ul class="tabs tabs1">
                                <li class="w-50"><a href="debts-tl.html">TL Borcum</a></li>
                                <li class="active w-50"><a href="debts-usd.html">USD Borcum</a></li>
                            </ul>
                        </div>
                        <div class="item_block">
                            <div class="form_check">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox-control"></span>
                                </label>
                            </div>
                            <div class="item_content">
                                <div class="item">
                                    <div class="product_link">
                                        <span class="label o-5">Məhsulun linki</span>
                                        <a href="#" class="button btn_secondary">https://trendyol.com/trendyol-child/sarı-conconlu-chocuk-132456asdfsaaadaasarı-conconlu-chocuk-132456a</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="item">
                                            <span class="label o-5">Səbəb</span>
                                            <div class="text">Türkiyə daxili kargo</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="item">
                                            <span class="label o-5">Tarix</span>
                                            <div class="text">13.04.2021</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <div class="item text-end-d">
                                            <span class="label o-5">Toplam qiymət</span>
                                            <div class="text">$ 24.50</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_block">
                            <div class="form_check">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox-control"></span>
                                </label>
                            </div>
                            <div class="item_content">
                                <div class="item">
                                    <div class="product_link">
                                        <span class="label o-5">Məhsulun linki</span>
                                        <a href="#" class="button btn_secondary">https://trendyol.com/trendyol-child/sarı-conconlu-chocuk-132456asdfsaaadaasarı-conconlu-chocuk-132456a</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 col-12">
                                        <div class="item">
                                            <span class="label o-5">Səbəb</span>
                                            <div class="text">Türkiyə daxili kargo</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="item">
                                            <span class="label o-5">Tarix</span>
                                            <div class="text">13.04.2021</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <div class="item text-end-d">
                                            <span class="label o-5">Toplam qiymət</span>
                                            <div class="text">$ 24.50</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_item_btm">
                            <div class="caption">
                                <p class="label o-5">Seçilənlər üzrə borc</p>
                                <p class="text">$ 49.00</p>
                            </div>
                            <div class="row">
                                <div class="col-6 text-end"><a href="" class="button btn_secondary_gray">Hamısını seç</a></div>
                                <div class="col-6 text-start"><a href="" class="button btn_primary">Ödənişi tamamla</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}