{% extends "logged-layout.html" %}
{% block content %}
<main>
    <section class="container family_account">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <div class="user">
                        <div class="user_img">
                            <img src="./images/usr.jpg">
                        </div>
                        <div class="user_info">
                            <span class="title">Bella Hadid</span>
                            <span class="desc"><span class="user_id">ID: </span>OB386477</span>
                        </div>
                    </div>
                    <a href="" class="button btn_primary full">Bəyan et</a>
                    <ul>
                        <li><a href="" title="" class="active">Xaricdəki ünvanlarım</a></li>
                        <li><a href="" title="">Bağlamalarım</a></li>
                        <li><a href="" title="">Sifarişlərim</a></li>
                        <li><a href="" title="">Borclar</a></li>
                        <li><a href="" title="">Balans</a></li>
                        <li><a href="" title="">Ailə hesabı</a></li>
                        <li><a href="" title="">Etibarnamələr</a></li>
                        <li><a href="" title="">Kuryer sifarişi</a></li>
                        <li class="settings"><a href="" title="">Ayarlar</a></li>
                        <li><a href="" title="">Çıxış</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <a href="" class="item limit">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Bu ay üzrə limit</label>
                            <span class="desc">$ 123.00</span>
                        </div>
                    </a>
                    <a href="" class="item order">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Sifariş balansım</label>
                            <span class="desc">₺ 4567.89</span>
                        </div>
                    </a>
                    <a href="" class="item transport">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Daşınma balansım</label>
                            <span class="desc">$ 20.50</span>
                        </div>
                    </a>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Ailə hesabı</h1>
                    </div>
                    <div class="referral_link">
                        <span class="label o-5">Əlaqəli hesab keçidim</span>
                        <a href="#" class="text">https://www.onebox.az/user/id-ob386477</a>
                        <button class="copy_btn" aria-label="Copied"></button>
                    </div>
                    <div class="right_content">
                        <div class="tabs_flex mb-32">
                            <ul class="tabs tabs1">
                                <li class="active  w-50"><a href="family-account.html" class="pt-0 ">Hesablar</a></li>
                                <li class="w-50"><a href="family-account-order.html" class="pt-0 ">Sifarişlər</a></li>
                            </ul>
                        </div>
                        <div class="item_block">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Müştəri kodu</span>
                                        <div class="text">OB386478</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Sifariş balansı</span>
                                        <div class="text">₺47.89</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">Çatdırılma balansı</span>
                                        <div class="text">$134.90</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">Sifariş limiti</span>
                                        <div class="text">$200.00</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ad - Soyad</span>
                                        <div class="text">Tomas Bachmanity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Seriya nömrəsi</span>
                                        <div class="text">AZE15676700</div>
                                    </div>
                                </div>
                                <div class="text-end-d offset-lg-3 offset-md-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <button class="button btn_secondary btn-with-sm m-full">Daxil ol</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_block">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Müştəri kodu</span>
                                        <div class="text">OB386478</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Sifariş balansı</span>
                                        <div class="text">₺47.89</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">Çatdırılma balansı</span>
                                        <div class="text">$134.90</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">Sifariş limiti</span>
                                        <div class="text">$200.00</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ad - Soyad</span>
                                        <div class="text">Tomas Bachmanity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Seriya nömrəsi</span>
                                        <div class="text">AZE15676700</div>
                                    </div>
                                </div>
                                <div class="text-end-d offset-lg-3 offset-md-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <button class="button btn_primary btn-with-sm m-full">Daxil ol</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_block">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Müştəri kodu</span>
                                        <div class="text">OB386478</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Sifariş balansı</span>
                                        <div class="text">₺47.89</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">Çatdırılma balansı</span>
                                        <div class="text">$134.90</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">Sifariş limiti</span>
                                        <div class="text">$200.00</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ad - Soyad</span>
                                        <div class="text">Tomas Bachmanity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Seriya nömrəsi</span>
                                        <div class="text">AZE15676700</div>
                                    </div>
                                </div>
                                <div class="text-end-d offset-lg-3 offset-md-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <button class="button btn_secondary btn-with-sm m-full">Daxil ol</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item_block">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Müştəri kodu</span>
                                        <div class="text">OB386478</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Sifariş balansı</span>
                                        <div class="text">₺47.89</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">Çatdırılma balansı</span>
                                        <div class="text">$134.90</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item text-end-d">
                                        <span class="label o-5">Sifariş limiti</span>
                                        <div class="text">$200.00</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Ad - Soyad</span>
                                        <div class="text">Tomas Bachmanity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <span class="label o-5">Seriya nömrəsi</span>
                                        <div class="text">AZE15676700</div>
                                    </div>
                                </div>
                                <div class="text-end-d offset-lg-3 offset-md-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                    <div class="item">
                                        <button class="button btn_primary btn-with-sm m-full">Daxil ol</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link prev disabled" href="#" aria-label="Previous"></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link next" href="#" aria-label="Next"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}