{% extends "layout.html" %}
{% block content %}
<main>
	<section>
        <div class="container faq">
            <div class="w-960">
                <div class="sec_title">
                    <h1>Tez-tez verilən suallar</h1>
                    <span class="text o-5">Sifariş zamanı sizi ən çox maraqlandıran sualları cavabladıq.</span>
                </div>
                <div class="item">
                    <h3>Bizim üstünlüklərimiz<span></span></h3>
                    <div class="text">
                        <ul>
                            <li>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                                uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                                asılı olaraq iki cür hesablana bilər:</li>
                        </ul>
                        <p><strong>1. Fiziki çəki</strong></p>
                        <p><strong>2. Həcm çəkisi </strong></p>
                        <ul>
                            <li>Hər iki göstərici hesablanır hansı daha çox olarsa, daşınma haqqı 
                                o çəki əsasında hesablanır. Nəzərinizə çatdırırıq ki, Türkiyədən 
                                geyim, 2 ədəd ayaqqabı və əl çantalarının daşınma haqqı yalnız fiziki
                                 çəkisi əsasında hesablanır. Ayaqqabı 2 ədəddən çox olarsa, daşınma 
                                 haqqı həcm çəkisinə əsasən hesablanacaqdır.
                                Hər hansı bir uzunluq gösətiricisi 60 sm və daha çox olan bağlamaların
                                 daşınma haqqı həm həcm çəkisi, həm də fiziki çəkisi hesablanacaq, hansı
                                  çəki göstəricisi daha çox olarsa, daşınma haqqı o çəki əsasında hesablanacaqdır.</li>
                            <li>Hesablanma qaydasını nəzərinizə çatdırırq.</li>
                        </ul>
                        <p><strong>En (sm) x Uzunluq (sm) x Hündürlük (sm)/6000 = Həcm çəkisi (kq)</strong></p>
                    </div>
                </div>
                <div class="item">
                    <h3>Necə işləyir?<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
                <div class="item">
                    <h3>Çatdırılma haqqı hansı üsulla hesablanır?<span></span></h3>
                    <div class="text">
                        <ul>
                            <li>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                                uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                                asılı olaraq iki cür hesablana bilər:</li>
                        </ul>
                        <p><strong>1. Fiziki çəki</strong></p>
                        <p><strong>2. Həcm çəkisi </strong></p>
                        <ul>
                            <li>Hər iki göstərici hesablanır hansı daha çox olarsa, daşınma haqqı 
                                o çəki əsasında hesablanır. Nəzərinizə çatdırırıq ki, Türkiyədən 
                                geyim, 2 ədəd ayaqqabı və əl çantalarının daşınma haqqı yalnız fiziki
                                 çəkisi əsasında hesablanır. Ayaqqabı 2 ədəddən çox olarsa, daşınma 
                                 haqqı həcm çəkisinə əsasən hesablanacaqdır.
                                Hər hansı bir uzunluq gösətiricisi 60 sm və daha çox olan bağlamaların
                                 daşınma haqqı həm həcm çəkisi, həm də fiziki çəkisi hesablanacaq, hansı
                                  çəki göstəricisi daha çox olarsa, daşınma haqqı o çəki əsasında hesablanacaqdır.</li>
                            <li>Hesablanma qaydasını nəzərinizə çatdırırq.</li>
                        </ul>
                        <p><strong>En (sm) x Uzunluq (sm) x Hündürlük (sm)/6000 = Həcm çəkisi (kq)</strong></p>
                    </div>
                </div>
                <div class="item">
                    <h3>Sifarişim neçə gün ərzində çatdırılır?<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
                <div class="item">
                    <h3>Bəyənnamə nədir? Necə doldurulur?<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
                <div class="item">
                    <h3>Ünvan və iş saatlarımız<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
                <div class="item">
                    <h3>Bağlamanın daşınma haqqının ödəmə üsulları<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
                <div class="item">
                    <h3>Başqa bir şəxs Sizin bağlamanı necə təhvil ala bilər?<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
                <div class="item">
                    <h3>Daşınma haqqı necə nəğdləşdirilir?<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
                <div class="item">
                    <h3>300 dollar limiti nədir?<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
                <div class="item">
                    <h3>"Mənim üçün Sifariş Et" xidmətinin detalları nədir?<span></span></h3>
                    <div>
                        <p>Beynəlxalq Hava Nəqliyyatı Assosiasiyasının metrik standartlarına 
                            uyğun olaraq daşınan yüklərin çəkisi bağlamaların ölçülərindən 
                            asılı olaraq iki cür hesablana bilər:</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}