{% extends "layout.html" %}
{% block content %}
<main>
	<section>
        <div class="container">
            <div class="w-960 forgot_passwword">
                <div class="sec_title">
                    <h1>Şifrəni unutmusan?</h1>
                    <span class="text o-5">Zəhmət olmasa qeydiyyatdan zamanı istifadə etdiyiniz emaili daxil edin</span>
                </div>
                <div class="form">
                    <form method="" class="validation" action="">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="label">Email</label>
                                    <input name="" class="validate[required,minSize[6]]" type="text" placeholder="Emailinizi daxil edin" />
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button type="button" class="button btn_primary full">Təsdiqlə</button>
                        </div>
                    </form>
                </div>
                <div class="form_btm">
                    <h2>Hələdə hesabınız yoxdur?</h2>
                    <button type="button" class="button btn_secondary btn_lg">Qeydiyyatdan keçin</button>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}