{% extends "layout.html" %}
{% block content %}
<main class="home_page">
	<div class="home_slider">
		<div class="slider">
			<div>
				<div class="item">
					<div class="container">
						<div class="animate__animated animate__fadeInLeft">
							<div class="title">Türkiyədən sifariş et, biz gətirək!</div>
							<div class="desc">Sərfəli tariflər və sürətli çatdırılma ilə artıq Türkiyədən alış-veriş etmək zamanıdır.</div>
							<a href="" class="button btn_primary more m-full">Ətraflı</a>
						</div>
						<a class="img animate__animated animate__fadeInRight"><img src="images/slider_img.png" /></a>
					</div>
				</div>
			</div>
			<div>
				<div class="item">
					<div class="container">
						<div>
							<div class="title">Türkiyədən sifariş et, biz gətirək!</div>
							<div class="desc">Sərfəli tariflər və sürətli çatdırılma ilə artıq Türkiyədən alış-veriş etmək zamanıdır.</div>
							<a href="" class="button btn_primary more m-full">Ətraflı</a>
						</div>
						<a class="img"><img src="images/slider_img.png" /></a>
					</div>
				</div>
			</div>
			<div>
				<div class="item">
					<div class="container">
						<div>
							<div class="title">Türkiyədən sifariş et, biz gətirək!</div>
							<div class="desc">Sərfəli tariflər və sürətli çatdırılma ilə artıq Türkiyədən alış-veriş etmək zamanıdır.</div>
							<a href="" class="button btn_primary more m-full">Ətraflı</a>
						</div>
						<a class="img"><img src="images/slider_img.png" /></a>
					</div>
				</div>
			</div>
			<div>
				<div class="item">
					<div class="container">
						<div>
							<div class="title">Türkiyədən sifariş et, biz gətirək!</div>
							<div class="desc">Sərfəli tariflər və sürətli çatdırılma ilə artıq Türkiyədən alış-veriş etmək zamanıdır.</div>
							<a href="" class="button btn_primary more m-full">Ətraflı</a>
						</div>
						<a class="img"><img src="images/slider-img.png" /></a>
					</div>
				</div>
			</div>
			<div>
				<div class="item">
					<div class="container">
						<div>
							<div class="title">Türkiyədən sifariş et, biz gətirək!</div>
							<div class="desc">Sərfəli tariflər və sürətli çatdırılma ilə artıq Türkiyədən alış-veriş etmək zamanıdır.</div>
							<a href="" class="button btn_primary more m-full">Ətraflı</a>
						</div>
						<a class="img"><img src="images/slider-img.png" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="how_it_work">
		<div class="container">
			<div class="sec_title">
				<h1>Necə işləyirik?</h1>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="item_wrap">
						<div class="item sign_in">
							<img src="images/apartment.svg" title="" alt="">
							<div>
								<span class="title">Qeydiyyatdan keç</span>
								<span class="desc o-5">Saytımızda qeydiyyatdan keçməklə, xaricdə daimi ünvana sahib olun</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item_wrap">
						<div class="item pay">
							<img src="images/credit-card-outline.svg" title="" alt="">
							<div>
								<span class="title">Ödəniş et</span>
								<span class="desc o-5">Visa, Master bank kartları E-Manat vasitəsi ilə ödəniş Yerində nəğd ödəniş</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="item_wrap">
						<div class="item delivery">
							<img src="images/archive-outline.svg" title="" alt="">
							<div>
								<span class="title">Bağlamanı əldə et</span>
								<span class="desc o-5">Bağlamanı Bakı anbarımızdan əldə edə və ya kuryer xidmətimizdən istifadə edə bilərsiniz.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="markets">
		<div class="container">
			<div class="sec_title">
				<h1>Seçilmiş mağazalar</h1>
			</div>
			<div class="tabs_flex tab_with_label slider_tab">
				<ul class="slider tabs tabs1" data-target=".list_tab">
					<li class="active" data-index="0"><a class="allcatg" ><span class="tab_title">Bütün kateqoriyalar</span></a></li>
					<li data-index="1"><a class="clothes"><span class="tab_title">Geyim, ayaqqabı, aksesuar</span></a></li>
					<li data-index="2"><a class="car"><span class="tab_title">Avtomobil məhsulları</span></a></li>
					<li data-index="3"><a class="kid"><span class="tab_title">Uşaq məhsulları</span></a></li>
					<li data-index="4"><a class="cosmetics"><span class="tab_title">Kosmetika</span></a></li>
					<li data-index="6"><a class="home"><span class="tab_title">Ev və təmir üçün məhsullar</span></a></li>
					<li data-index="7"><a class="music"><span class="tab_title">Musiqi aksesuarları</span></a></li>
					<li data-index="8"><a class="multi"><span class="tab_title">Multibrend mağazalar</span></a></li>
					<li data-index="9"><a class="health"><span class="tab_title">İdman məhsulları</span></a></li>
					<li data-index="10"><a class="electronic"><span class="tab_title">Məişət texnikası və elektronika</span></a></li>
					<li data-index="11"><a class="for-home"><span class="tab_title">Ev əşyaları</span></a></li>
					<li data-index="12"><a class="ps"><span class="tab_title">Maraq və hobbi</span></a></li>
					<li data-index="13"><a class="book"><span class="tab_title">Kitab</span></a></li>
				</ul>
			</div>
			<div class="list_tab tabs_content">
				<div class="active list_content" data-match-height=".item">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store1.png" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store1.png" alt="" /></div>
							</a>
						</div>
					</div>
				</div>
				<div data-match-height=".item" class="list_content">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store1.png" alt="" /></div>
							</a>
						</div>
					</div>	
				</div>
				<div data-match-height=".item" class="list_content">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store1.png" alt="" /></div>
							</a>
						</div>
					</div>	
				</div>
				<div data-match-height=".item" class="list_content">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store1.png" alt="" /></div>
							</a>
						</div>
					</div>	
				</div>
				<div data-match-height=".item" class="list_content">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store1.png" alt="" /></div>
							</a>
						</div>
					</div>	
				</div>
				<div data-match-height=".item" class="list_content">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store1.png" alt="" /></div>
							</a>
						</div>
					</div>	
				</div>
				<div data-match-height=".item" class="list_content">
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store5.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store6.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store7.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store8.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store2.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store4.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store3.svg" alt="" /></div>
							</a>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-4 col-6">
							<a href="" class="item">
								<div class="img"><img src="images/store1.png" alt="" /></div>
							</a>
						</div>
					</div>	
				</div>
			</div>
			<div class="btn_flex"><a href="" class="button btn_secondary m-full">Hamısına bax</a></div>
		</div>
	</section>
	<section class="tariffs">
		<div class="container">
			<div class="sec_title">
				<h1>Tariflər</h1>
			</div>
			<div class="tabs_flex tab_with_label with_label_two">
				<ul class="tabs tabs1" data-target=".tariffs_tab">
					<li class="active"><a class="tr"><span class="tab_title">Türkiyə</span></a></li>
					<li><a class="us"><span class="tab_title">ABŞ</span></a></li>
					<li><a class="chine"><span class="tab_title">Çin</span></a></li>
				</ul>
			</div>
			<div class="tariffs_tab tabs_content">
				<div class="active list_content" data-match-height=".item">
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
				</div>
				<div data-match-height=".item" class="list_content">
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
				</div>
				<div data-match-height=".item" class="list_content">
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
					<div class="item">
						<label>0.001 kq’dan 0.10 kq’a qədər</label>
						<div class="details">
							<div>
								<span class="title">Adi məhsul</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
							<div>
								<span class="title">Maye və kosmetik</span>
								<span class="price">1.00 USD</span>
								<span class="old_price o-5">1.20 USD</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="calc">
		<div class="container">
			<div class="calc_bg mb-373">
				<div class="sec_title">
					<h1>Kalkulyator</h1>
					<p class="text o-5">Bağlamanın hər hansı bir tərəfinin ölçüsü 60 sm və daha çox olarsa, bağlamanın
						 həm həcm, həm də fiziki çəkisi hesablanır. Hansı çəki yüksək olarsa, daşınma haqqı ona əsasən 
						 hesablanır.</p>
				</div>
				<div class="form">
					<form>
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="input-wrapper">
									<label class="label">Ölkəni seçin</label>
									<select>
										<option>Türkiyə</option>
										<option>United States</option>
									</select>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="input-wrapper">
									<label class="label">Bağlamanın növü</label>
									<select class="form-control">
										<option selected="selected">Adi məhsul</option>
										<option>white</option>
									</select>
								</div>
							</div>
							</div>
							<div class="row calc_details">
								<div class="col-12 col-lg-3">
									<div class="input-wrapper range-slider">
										<label class="label">En</label>
										<input class="range-slider__range trigger-calculator" type="range" value="45" min="0" max="120">
										<input type="text" class="input-control range-slider__value" id="calculator-width" placeholder="45">
										<div class="select_wrap">
											<select class="form-control">
												<option selected="selected">sm</option>
												<option>m</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-12 col-lg-3">
									<div class="input-wrapper range-slider">
										<label class="label">Uzunluq</label>
										<input class="range-slider__range trigger-calculator" type="range" value="0" min="0" max="120">
										<input type="text" class="input-control range-slider__value" id="calculator-width" placeholder="0">
										<div class="select_wrap">
											<select class="form-control">
												<option selected="selected">sm</option>
												<option>m</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-12 col-lg-3">
									<div class="input-wrapper range-slider">
										<label class="label">Hündürlük</label>
										<input class="range-slider__range trigger-calculator" type="range" value="0" min="0" max="120">
										<input type="text" class="input-control range-slider__value" id="calculator-width" placeholder="0">
										<div class="select_wrap">
											<select class="form-control">
												<option selected="selected">sm</option>
												<option>m</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-12 col-lg-3">
									<div class="input-wrapper range-slider">
										<label class="label">Bağlamanın çəkisi</label>
										<input class="range-slider__range trigger-calculator" type="range" value="0" min="0" max="120">
										<input type="text" class="input-control range-slider__value" id="calculator-width" placeholder="0">
										<div class="select_wrap">
											<select class="form-control">
												<option selected="selected">kq</option>
												<option>q</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<button class="button btn_primary full visible_m">Hesabla</button>
							<div class="row">
								<div class="col-12 col-lg-3">
									<div class="total_price">
										<label>USD</label>
										<span class="text">0.00</span>
									</div>
								</div>
								<div class="col-12 col-lg-3">
									<div class="total_price">
										<label>AZN</label>
										<span class="text">0.00</span>
									</div>
								</div>
								<div class="col-12 col-lg-6">
									<button class="button btn_primary hidden_m full">Hesabla</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<div class="calc_after"></div>
	<section class="news">
		<div class="container">
			<div class="sec_title">
				<h1>Ən son yeniliklər</h1>
			</div>
			<div class="row">
				<div class="slider">
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/list_1.png" />
							<div>
								<span class="catg innovation">Yenilik</span>
								<h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
								<span class="date">12 Fev, 2021</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/news1.png" />
							<div>
								<span class="catg news">Xəbər</span>
								<h3 class="title">Evdə qal! Biz gətirək!</h3>
								<span class="date">12 Fev, 2021</span>
							</div>
						</a>
					</div>
					<div class="item_wrap">
						<a class="item" href="">
							<img src="images/list_1.png" />
							<div>
								<span class="catg blog">Bloq</span>
								<h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
								<span class="date">12 Fev, 2021</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="btn_flex"><a href="" class="button btn_secondary m-full">Hamısına bax</a></div>
		</div>
	</section>
	<section class="social_paltform">
		<div class="sec_title">
			<h1>Instagramda Biz</h1>
		</div>
		<div class="slider">
			<div class="item_wrap">
				<a class="item" href="">
					<img src="images/ins1.png" />
				</a>
			</div>
			<div class="item_wrap">
				<a class="item" href="">
					<img src="images/ins2.png" />
				</a>
			</div>
			<div class="item_wrap">
				<a class="item" href="">
					<img src="images/ins3.png" />
				</a>
			</div>
			<div class="item_wrap">
				<a class="item" href="">
					<img src="images/ins4.png" />
				</a>
			</div>
			<div class="item_wrap">
				<a class="item" href="">
					<img src="images/ins1.png" />
				</a>
			</div>
			<div class="item_wrap">
				<a class="item" href="">
					<img src="images/ins2.png" />
				</a>
			</div>
		</div>
	</section>
</main>
{% endblock %}