{% extends "logged-layout.html" %}
{% block content %}
<main>
    <section class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="side_menu">
                    <div class="user">
                        <div class="user_img">
                            <img src="./images/usr.jpg">
                        </div>
                        <div class="user_info">
                            <span class="title">Bella Hadid</span>
                            <span class="desc"><span class="user_id">ID: </span>OB386477</span>
                        </div>
                    </div>
                    <a href="" class="button btn_primary full">Bəyan et</a>
                    <ul>
                        <li><a href="" title="" class="active">Xaricdəki ünvanlarım</a></li>
                        <li><a href="" title="">Bağlamalarım</a></li>
                        <li><a href="" title="">Sifarişlərim</a></li>
                        <li><a href="" title="">Borclar</a></li>
                        <li><a href="" title="">Balans</a></li>
                        <li><a href="" title="">Ailə hesabı</a></li>
                        <li><a href="" title="">Etibarnamələr</a></li>
                        <li><a href="" title="">Kuryer sifarişi</a></li>
                        <li class="settings"><a href="" title="">Ayarlar</a></li>
                        <li><a href="" title="">Çıxış</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="account_top_fix">
                    <a href="" class="item limit">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Bu ay üzrə limit</label>
                            <span class="desc">$ 123.00</span>
                        </div>
                    </a>
                    <a href="" class="item order">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Sifariş balansım</label>
                            <span class="desc">₺ 4567.89</span>
                        </div>
                    </a>
                    <a href="" class="item transport">
                        <div class="img"></div>
                        <div>
                            <label class="o-5">Daşınma balansım</label>
                            <span class="desc">$ 20.50</span>
                        </div>
                    </a>
                </div>
                <div class="right_content_wrap">
                    <div class="sec_title">
                        <h1>Yeni etibarnamə yarat</h1>
                    </div>
                    <div class="right_content">
                        <div class="form">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label class="label">Ad-Soyad</label>
                                            <input name="" class="validate[required]" type="text" placeholder="Tam adı daxil edin" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label class="label">Ata adı</label>
                                            <input name="" class="validate[required]" type="text" placeholder="Ata adını daxil edin" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group select-input">
                                            <label class="label">ID Number*</label>
                                            <input name="" class="validate[required]" type="text" placeholder="12345678" />
                                            <div class="select_wrap">
                                                <select>
                                                    <option>AZE</option>
                                                    <option>AA</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="label">FİN kod</label>
                                            <input name="" class="validate[required]" type="text" placeholder="FİN kodu daxil edin" />
                                            <div class="fin"><span class="open_popup" data-target=".fin_popup"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label class="label">Doğum tarixi</label>
                                            <input name="" class="validate[required],minSize[6]] datepicker_h"  autocomplete="off" type="text" placeholder="Doğum tarixinizi seçin" data-toggle="datetimepicker" />
                                            <span class="calendar"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group select-input">
                                            <label class="label">Mobil nömrə</label>
                                            <input name="" class="validate[required]" data-mask="phone"  type="text" placeholder="___ __ __" />
                                            <div class="select_wrap">
                                                <select>
                                                    <option>050</option>
                                                    <option>055</option>
                                                    <option>070</option>
                                                    <option>077</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="label">Digər qeydlər</label>
                                            <textarea placeholder="Əlavə qeydiniz varsa daxil edin"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_item_btm text-end">
                                    <a href="" class="button btn_secondary_gray">Ləğv et</a>
                                    <a href="" class="button btn_primary ml-16">Etibarnamə yarat</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="popup fin_popup">
        <div class="popup_inner popup_sm">
            <button class="close"></button>
            <div class="row content">
                <div class="col-12 col-lg-6">
                    <img src="images/old-passport.png" />
                </div>
                <div class="col-12 col-lg-6">
                    <img src="images/new-passport.png"/>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}