{% extends "layout.html" %}
{% block content %}
<main>
	<section>
        <div class="container">
            <div class="w-960 forgot_passwword">
                <div class="sec_title">
                    <h1>Yeni şifrə təyin edin!</h1>
                    <span class="text o-5">Zəhmət olmasa yeni şifrə təyin edərək təsdiqləyin</span>
                </div>
                <div class="form">
                    <form method="" class="validation" action="">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="label">Yeni şifrə</label>
                                    <input name="password" class="validate[required,minSize[6]] password" type="password" placeholder="Yeni şifrəni təyin edin" />
                                    <div class="hide-show pass_visibility"><span></span></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="label">Təkrar şifrə</label>
                                    <input name="password" class="validate[required,minSize[6]] password" type="password" placeholder="Şifrəni yenidən daxil edin" />
                                    <div class="hide-show pass_visibility pass_confirm"><span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button type="button" class="button btn_primary full">Təsdiqlə</button>
                        </div>
                    </form>
                </div>
                <div class="form_btm">
                    <h2>Hələdə hesabınız yoxdur?</h2>
                    <button type="button" class="button btn_secondary m-full btn_lg">Qeydiyyatdan keçin</button>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}