{% extends "layout.html" %}
{% block content %}
<main>
	<section>
        <div class="container">
            <div class="w-960">
                <div class="news">
                    <div class="news_detail">
                        <div class="item_detail">
                            <span class="catg innovation">Yenilik</span>
                            <span class="date o-5">12 Fev, 2021</span>
                        </div>
                        <div class="sec_title">
                            <h1>14 Fevrala 14 Günlük hədiyyə</h1>
                        </div>
                        <div class="img"><img src="images/news-detail-img.svg" alt=""></div>
                        <p class="o-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                             fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                             culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="o-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                             irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                              pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                               deserunt mollit anim id est laborum.</p>
                        <p class="o-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.</p>
                    </div>
                    <a href="" class="back_link">Bütün xəbərlər</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}