{% extends "layout.html" %}
{% block content %}
<main class="news_page"> 
	<section>
        <div class="container news">
            <div class="w-100">
                <div class="sec_title">
                    <h1>Xəbərlər və yeniliklər</h1>
                    <span class="text o-5">Xidmətlərimizlə bağlı ən son yeniliklər və müxtəlif mövzularda mətumatlandırıcı bloqlar burada!</span>
                </div>
                <div class="tabs_flex tab_with_label catg_tab">
                    <ul class="tabs tabs1" data-target=".tabs_content">
                        <li class="active"><a><span class="tab_title">Hamısı</span></a></li>
                        <li><a><span class="tab_title">Xəbərlər</span></a></li>
                        <li><a><span class="tab_title">Yeniliklər</span></a></li>
                        <li><a><span class="tab_title">Məqalələr</span></a></li>
                    </ul>
                </div>
                <div class="tabs_content">
                    <div class="active list_content" data-match-height=".item">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-match-height=".item" class="list_content">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">Evdə qal! Biz gətirək!</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/list_1.png" />
                                        <div>
                                            <span class="catg news">Xəbər</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-match-height=".item" class="list_content">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news1.png" />
                                        <div>
                                            <span class="catg innovation">Yenilik</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-match-height=".item" class="list_content">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="item_wrap">
                                    <a class="item" href="">
                                        <img src="images/news2.png" />
                                        <div>
                                            <span class="catg blog">Bloq</span>
                                            <h3 class="title">14 Fevrala 14 Günlük hədiyyə</h3>
                                            <span class="date">12 Fev, 2021</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link prev disabled" href="#" aria-label="Previous"></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link next" href="#" aria-label="Next"></a></li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}