{% extends "layout.html" %}
{% block content %}
<main>
	<section>
        <div class="container">
            <div class="w-960 privacy-policy">
                <div class="sec_title">
                    <h1>Gizlilik</h1>
                    <span class="text o-5">Onebox Cargo müştərilərinin şəxsi məlumatlarının qorunmasına cavabdehdir.</span>
                </div>
                <div class="editor-content">
                    <p>Müştərilərin Onebox şirkətinin xidmətlərindən istifadəsi zamanı təqdim etdikləri bütün
                        məlumatlar gizli saxlanılır və qorunur.</p>
                    <p>Onebox şirkəti sifarişçilərin şəxsi məlumatlarını ancaq bu hallarda istifadə edə və
                        aydınlada bilər: <br>
                        a. Sifarişçilərin xidmət seçimlərini dəqiqləşdirmək üçün. <br>
                        b. Məhsul, xidmətlərimiz haqqında məlumatları, xüsusi informasiyaları və reklam
                        materiallarını
                        sifarişçiylə bölüşmək üçün. <br>
                        c. Şirkətinin maraqlarının qorunması üçün. <br>
                        d. Ədalət prinsiplərini mühakimə etmək lazım olduğunda.
                    </p>
                    <p>Onebox şirkəti qeydiyyat formasında sizdən alınan şəxsi məlumatları Azərbaycan
                        Respublikası Dövlət Komitəsi tələblərinə görə və sifarişçilərə daha üstün keyfiyyətli
                        xidmət göstərmək üçün əldə edir.</p>
                    <p>Onebox şirkəti müştərilərinin şəxsi məlumatlarının daha güvənli qorunması üçün hər zaman
                        texniki, təşkilati tədbirlər görür. Məlumatların güvənli saxlanılmağını təmin edir və
                        cavabdehlik daşıyır.</p>
                    <p>Qeydiyyat formasında olan məlumatlar tam şəkildə müştərilər tərəfindən
                        cavablandırılmalıdır. Əks təqdirdə, həmin müştərilərə qarşı xidmət dayandırılır və ya
                        bütünlükdə başa çatdırılır.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}