{% extends "layout.html" %}
{% block content %}
<main>
	<section>
        <div class="container services">
            <div class="w-960">
                <div class="sec_title">
                    <h1>Xidmətlər</h1>
                    <span class="text o-5">Təklif etdiyimiz xidmətlərdən yararlanaraq onlayn sifariş etməyə tələsin!</span>
                </div>
                <div class="services_list">
                    <div class="item">
                        <span class="icon"></span>
                        <div>
                            <h2 class="title">Sifariş et</h2>
                            <p class="text o-5">Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir. Bu xidmət üçün komissiya haqqı 5% təşkil edir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <span class="icon"></span>
                        <div>
                            <h2 class="title">Sifariş et</h2>
                            <p class="text o-5">Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir. Bu xidmət üçün komissiya haqqı 5% təşkil edir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <span class="icon"></span>
                        <div>
                            <h2 class="title">Sifariş et</h2>
                            <p class="text o-5">Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir. Bu xidmət üçün komissiya haqqı 5% təşkil edir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <span class="icon"></span>
                        <div>
                            <h2 class="title">Sifariş et</h2>
                            <p class="text o-5">Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir. Bu xidmət üçün komissiya haqqı 5% təşkil edir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <span class="icon"></span>
                        <div>
                            <h2 class="title">Sifariş et</h2>
                            <p class="text o-5">Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir. Bu xidmət üçün komissiya haqqı 5% təşkil edir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <span class="icon"></span>
                        <div>
                            <h2 class="title">Sifariş et</h2>
                            <p class="text o-5">Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir. Bu xidmət üçün komissiya haqqı 5% təşkil edir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <span class="icon"></span>
                        <div>
                            <h2 class="title">Sifariş et</h2>
                            <p class="text o-5">Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir. Bu xidmət üçün komissiya haqqı 5% təşkil edir.</p>
                        </div>
                    </div>
                    <div class="item">
                        <span class="icon"></span>
                        <div>
                            <h2 class="title">Sifariş et</h2>
                            <p class="text o-5">Məhsulu siz seçirsiniz, linkini göndərirsiniz, ödəniş edirsiniz, sifariş tərəfimizdən yerinə yetrilir. Bu xidmət üçün komissiya haqqı 5% təşkil edir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}