{% extends "layout.html" %}
{% block content %}
<main class="tariffs_page">
	<section>
        <div class="container">
            <div class="w-100">
                <div class="sec_title">
                    <h1>Tariflər</h1>
                    <span class="text o-5">Müxtəlif ölkələri sizin üçün əlçatan etdik! Onebox Cargo ilə sərfəli daşınma tariflərindən yararlana bilərsiniz.</span>
                </div>
                <div class="tabs_flex tab_with_label with_label_two">
                    <ul class="tabs tabs1" data-target=".tabs_content">
                        <li class="active"><a class="tr"><span class="tab_title">Türkiyə</span></a></li>
                        <li><a class="us"><span class="tab_title">ABŞ</span></a></li>
                        <li><a class="chine"><span class="tab_title">Çin</span></a></li>
                    </ul>
                </div>
                <div class="tabs_content tariffs">
                    <div class="active list_content" data-match-height=".item">
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-match-height=".item" class="list_content">
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-match-height=".item" class="list_content">
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <label>0.001 kq’dan 0.10 kq’a qədər</label>
                            <div class="details">
                                <div>
                                    <span class="title">Adi məhsul</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                                <div>
                                    <span class="title">Maye və kosmetik</span>
                                    <span class="price">1.00 USD</span>
                                    <span class="old_price o-5">1.20 USD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="calc">
		<div class="container">
            <div class="w-100">
                <div class="calc_bg">
                    <div class="sec_title">
                        <h1>Kalkulyator</h1>
                        <p class="text o-5">Bağlamanın hər hansı bir tərəfinin ölçüsü 60 sm və daha çox olarsa, bağlamanın
                             həm həcm, həm də fiziki çəkisi hesablanır. Hansı çəki yüksək olarsa, daşınma haqqı ona əsasən 
                             hesablanır.</p>
                    </div>
                    <div class="form">
                        <form>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="input-wrapper">
                                        <label class="label">Ölkəni seçin</label>
                                        <select>
                                            <option>Türkiyə</option>
                                            <option>United States</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="input-wrapper">
                                        <label class="label">Bağlamanın növü</label>
                                        <select class="form-control">
                                            <option selected="selected">Adi məhsul</option>
                                            <option>white</option>
                                        </select>
                                    </div>
                                </div>
                                </div>
                                <div class="row calc_details">
                                    <div class="col-12 col-lg-3">
                                        <div class="input-wrapper range-slider">
                                            <label class="label">En</label>
                                            <input class="range-slider__range trigger-calculator" type="range" value="45" min="0" max="120">
                                            <input type="text" class="input-control range-slider__value" id="calculator-width" placeholder="45">
                                            <div class="select_wrap">
                                                <select class="form-control">
                                                    <option selected="selected">sm</option>
                                                    <option>m</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <div class="input-wrapper range-slider">
                                            <label class="label">Uzunluq</label>
                                            <input class="range-slider__range trigger-calculator" type="range" value="0" min="0" max="120">
                                            <input type="text" class="input-control range-slider__value" id="calculator-width" placeholder="0">
                                            <div class="select_wrap">
                                                <select class="form-control">
                                                    <option selected="selected">sm</option>
                                                    <option>m</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <div class="input-wrapper range-slider">
                                            <label class="label">Hündürlük</label>
                                            <input class="range-slider__range trigger-calculator" type="range" value="0" min="0" max="120">
                                            <input type="text" class="input-control range-slider__value" id="calculator-width" placeholder="0">
                                            <div class="select_wrap">
                                                <select class="form-control">
                                                    <option selected="selected">sm</option>
                                                    <option>m</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <div class="input-wrapper range-slider">
                                            <label class="label">Bağlamanın çəkisi</label>
                                            <input class="range-slider__range trigger-calculator" type="range" value="0" min="0" max="120">
                                            <input type="text" class="input-control range-slider__value" id="calculator-width" placeholder="0">
                                            <div class="select_wrap">
                                                <select class="form-control">
                                                    <option selected="selected">kq</option>
                                                    <option>q</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="button btn_primary full visible_m">Hesabla</button>
                                <div class="row">
                                    <div class="col-12 col-lg-3">
                                        <div class="total_price">
                                            <label>USD</label>
                                            <span class="text">0.00</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-3">
                                        <div class="total_price">
                                            <label>AZN</label>
                                            <span class="text">0.00</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <button class="button btn_primary hidden_m full">Hesabla</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
		</div>
	</section>
</main>
{% endblock %}